body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row.menu .nav-link{
  margin-top: -15.5px;
  color: #000;
  border-radius: 0;
}
.row.menu .nav-link:hover {
  border-top: 0;
}

/* AD */

.ad-large {
  border: 2px solid #000;
  border-radius: 2px;
}

/* Giphy */
.giphys-style {
  width: 100%;
  height: 300px;
}

/* Footer */
.copyright {
  color: #979797;
  font-size: .8rem;
}

/* Error */
.error402 {
  color: #979797;
}